<!DOCTYPE html>
<html>
<head>
    <title>AI Mock Interview</title>
</head>
<body>

    <h1>AI Mock Interview System</h1>

    <!-- START FORM -->
    <form action="/start" method="POST">

        <label>Name:</label>
        <input type="text" name="name" required>

        <br><br>

        <label>Role:</label>

        <select name="role" required>
            <option value="" disabled selected>Select Role</option>
            <option value="Data Analyst">Data Analyst</option>
            <option value="Python Developer">Python Developer</option>
        </select>

        <br><br>

        <button type="submit">Start Interview</button>

    </form>

</body>
</html>